extends layout

block content
    .container
        if errorMessages
            .errorContainer
                ul
                    each error in errorMessages
                        li(class='error')= error
        form(method='post' action='/users' class='form')
            label(class='label') Nafn: 
                input(class='input' type='text' name='name' required)
        
            label(class='label') Kennitala: 
                input(class='input' type='text' name='idNO' required)
            button(class='button') Skrá nýjan notanda
        
        .footer
            a(href='/' class='link') Forsíða