extends layout

block content
    .container
        table
            tr
                th Kennitala
                th Nafn
                th Í mat
            if rows
                each row in rows
                    tr
                        td= row.kennitala
                        td= row.nafn
                        td= row.imat ? 'Já' : 'Nei'

        .footer
            a(href='/download' class='link') Sækja sem CSV
            a(href='/' class='link') Forsíða