extends layout

block content
    script(src='/script.js')
    .container
        form(action='/food' method='get' class='datePicker')
            label(class='dateLabel' for='startDate') Velja dagsetningu frá:
            input(class='input date' type='date' name='startDate' id='startDate')
            label(class='dateLabel' for='endDate') Velja dagsetningu til:
            input(class='input date' type='date' name='endDate' id='endDate')

            button(class='button dateButton') Sækja
        table
            tr
                th Dagsetning
                th Kennitala
                th Nafn
            if data
                each row in data
                    tr
                        td= row.dagur
                        td= row.kennitala
                        td= row.nafn

        .footer
            a(href='/food/download' class='link' id='csv') Sækja sem CSV
            a(href='/' class='link') Forsíða