extends layout

block content
    .container
        form(action='/food' method='get' class='datePicker')
            label(class='label' for='startDate') Velja dagsetningu
            input(class='input date' type='date' name='startDate' id='endDate')
            button(class='button dateButton') Sækja
        table
            tr
                th Dagsetning
                th Kennitala
                th Nafn
            if data
                each row in data
                    tr
                        td= row.dagur
                        td= row.kennitala
                        td= row.nafn

        .footer
            a(href='/download' class='link') Sækja sem CSV
            a(href='/' class='link') Forsíða