extends layout

block content
    .container
        if user
            p Notandi skráður
            strong= user.nafn
            strong= user.kennitala
        else
            p Notandi er nú þegar til
        
        .footer
            a(href='/' class='link') Forsíða