extends layout

block content
    .container
        if errorMessages
            .errorContainer
                ul
                    each error in errorMessages
                        li(class='error')= error
        form(method='post' action='/food' class='form')
            label(class='label') Kennitala:
                input(class='input' type='text' name='id_no' required)
            button(class='button') Skrá mig í mat

        .footer
            a(href='/food' class='link') Skoða skráningar
            a(href='/users' class='link') Skrá nýjan notanda