extends layout

block content
    .container
        if idno
            p Matur skráður á 
            strong= idno
        else
            p Þú ert þegar skráður í mat
    
        .footer
            a(href='/' class='link') Forsíða